doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title QueensNot4Sale
    link(href='picnic.min.css', type='text/css', rel='stylesheet')
    link(href='style.css', type='text/css', rel='stylesheet')
body
  #wrapper
    .flex.full
        h1.oswald QUEENS<br>NOT 4 SALE
    .flex.full.center
        img(src='images/cover.jpg')
